
body {
  font-family: 'Lato', sans-serif;
}

.banner {
  background-position: top center;
  height: 265px;
  background-color: #FFF;
}

.banner h1 span, h2 span {
  background-color: rgba(255,255,255,0.8);
  border-radius: 5px;
}

#bannerlogo {
  background-color:  #1F4963; /* nwoods blue */
  font-weight: 900;
  font-size: 120%;
  color: white;
  padding: 6px;
  border-radius: 9px;
}

#toplogo {
  background-color:  #1F4963; /* nwoods blue */
  font-weight: 900;
  font-size: 120%;
  color: white;
  padding: 6px;
  border-radius: 4px;
}

#bannertop {
  background-image: url('../images/banner2.png');
  background-repeat: no-repeat;
  box-shadow: 0px 2px 5px #D3D3D3;
  padding-top: 48px;
}

.img-thumbnail {
  padding: 0px;
  margin: 4px;
  border: 2px solid #ddd;
  border-radius: 0px;
  width: 226px;
  height: 180px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

#frontpage p {
  font-size: 18px;
  line-height: 1.5;
}

#footer {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font-family: Lato, sans-serif;
  font-size: 13px;

  padding: 25px 50px 50px 50px;

  margin-left: 0px;
  margin-right: 0px;

  color:  #ffffff;
}

#footer ul {
  list-style: none;
  margin-top: 20px;
}
#footer p {
  font-size: 13px;
}

#footer h3 {
  background-color:  #1F4963; /* nwoods blue */
  font-weight: 900;
  font-size: 40px;
  color: white;
  padding: 6px;
  border-radius: 6px;
  display: inline-block;

  text-align: center;
}

#navindex {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 110px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: bold;
}

.navbar-brand {
  height: auto;
  margin: 9px 10px;
  padding: 6px;
}
.navbar-inverse .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-brand:hover {
  background-color:  #1F4963; /* nwoods blue */
}

.nav > li > a {
  padding-left: 9px;
  padding-right: 9px;
}

.navbar {
  border-radius: 0px;
  border-width: 0px;
}

.navbar-right {
  margin-right: 0px;
}

.nav li {
  float: left;
  line-height: 40px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.nav li:hover {
  background-color: #707070;
}

.sidebar-nav .navbar-collapse {
  padding: 0px;
}

.buy {
  background-color: #79C900;
}

.activate {
  background-color: #00A9C9;
}

/* bootstrap override */
.container-fluid {
  max-width: 1170px;
  padding-left: inherit;
  padding-right: inherit;
}
.container-fluid>.navbar-header {
  margin-left: inherit;
  margin-right: inherit;
}
.mt30 {
  margin-top: 30px;
}
.mt70 {
  margin-top: 70px;
}
.plr15 {
  padding-left: 15px;
  padding-right: 15px;
}

.footer {
  text-align: right;
  font-size: 10px;
}

/* used on learn pages */
.learn-container {
  max-width: 940px;
  padding-left: 15px;
  padding-right: 15px;
}

.diagramStyling {
  background-color: #F8F8F8;
}

p.box {
  padding: 15px;
}

/* Sidebar */
.sidebar-nav .navbar {
  margin-bottom: 0px;
}

.classList {
  width: 100%;
  margin: 0;
}

.navbar-nav>li>a.selected { background: #707070; color: #FFF;}
.navbar-default .navbar-nav>li>a:hover { color: #FFF;}

/* used in api, intro, and samples pages */
#non-fixed-nav {
  margin-bottom: 0px;
}

/* For the samples index.html */
.btn-tag {
  background-color: #3E5264;
  border-color: #3E5264;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  margin: 2px;
}

.btn-tag:hover {
  background-color: #4E878B;
  border-color: #4E878B;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.btn-selected-tag {
  background-color: white;
  border-color: #3E5264;
  color: #3E5264;
  border-bottom: 2px solid #354655;
  margin: 2px;
}

.btn-selected-tag:hover {
  background-color: white;
  border-color: #3E5264;
  color: #3E5264;
}

/* Samples, override Bootstrap settings for certain elements */
#sample {
  padding-top: 15px;
}
#sample input[type=radio] {
  margin: 3px 3px 0px 5px;
}
#sample input[type=range] {
  display: inline-block;
  width: auto;
}
#sample label {
  margin-bottom: 0px;
  font-weight: normal;
}
#sample pre {
  font-size : 9pt;
}
#sample textarea {
  font-family: monospace;
  font-size: 9pt;
}
.samplespan {
  position: absolute;
  z-index: 99;
  display: none;
  left: 135px;
  margin-top: -80px;
  border: 2px solid gray;
  height: 204px;
}

ul hr {
  margin-top: 0px;
  margin-bottom: 0px;
}

hr.changelog {
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 4px solid #CCC;
}

/* BOOTSTRAP MEDIA BREAKPOINTS */
@media (min-width: 768px) {
  a:not(.selected):hover .samplespan {
    display: block; /* Only make screenshots visible when not collapsed and not selected */
  }
  .col-md-2 {
    float: left;
    width: 20%;
  }
  .col-md-10 {
    float: left;
    width: 80%;
  }
  .navbar>.container-fluid .navbar-brand {
    margin-left: 10px;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  #navindex {
    max-width: 180px;
    padding: 0px;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display: block !important;
  }
  .navheader-container {
    position: relative;
    width: 100%;
    height: 50px;
  }
  .navheader-container .navheader-collapse {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .navbar-nav {
    margin: 7.5px 0px;
  }
  .couple {
    display: inline-block;
  }
}
