.item-inner {
	background-position: -webkit-calc(100% - .5rem) center;
}

.list-block {
	margin: 0;
}

.etbc {
	padding-right: 0;
	padding-left: 0;
}
.card-footer{
	border-top:1px solid #e1e1e1;
}
.card-header{
	border-bottom:1px solid #e1e1e1;
}
.card-footer:before{
	 height: 0; 
}
.card-header:after{
	height: 0; 
}
.title{
  color: #fff;
  background: #017bce;
}
/* SCQ */
.mcq_notice {
	padding: 0.54rem;
	background: #017bce;
	color: #fff;
}

.mcq_all {
	text-align: center;
	margin: 0 !important;
	padding: 0 !important;
	overflow-x: hidden;
}

.m_img {
	width: 2rem;
	height: 2rem;
	min-height: 2rem;
	_min-height: 2rem;
}

.m_portlet_in  {
	color: #555 !important;
	display: block;
	padding: 0.5em 0 1.5em 0;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.portlet-body {
	border-right: 1px dashed #ddd;
	border-bottom: 1px dashed #ddd;
	width: 100%;
	height: 100%;
	padding: 30px 0 0 0;
	min-height: 2.5rem;
	position: relative;
	width: 33.3333333333333333333333333333333333333333333333333%;
	height: 25%;
	float: left;
}
/* ECQ */

/* =============================== Mobile-2015.08.27 ECQ ============================== */

/* =============================== Mobile-by zl ============================== */

/*end 临床提示主页面样式  by zl*/
/*start 特殊患者消息样式  by zl*/
.unit {
	color: #969696;
	font-size: 0.8em;
	margin-left: 4px;
}

.sdn_info {
	border-radius: 4px;
	width: 100%;
}

.sdn_info .ma, .sdn_info .fe {
	color: #fff;
	float: left;
	text-align: center;
	border-radius: 30px;
	font-family: cursive;
	width: 35px;
	height: 35px;
	margin-right: 20px;
	font-size: 1.2rem;;
	margin-top: 8px;
}

.sdn_info .fe {
	/* border: 2px solid #cf4b4b; */
	background-color: #ff7373;
	line-height: 32px;
}

.sdn_info .ma {
	/* border: 2px solid #1c72c8; */
	background-color: #39f;
	line-height: 32px;
}

.sdn_info .n {
	font-weight: bold;
	font-size: 0.85rem;
}

.sdn_info .i {
	color: #666;
	line-height: 30px;
	font-size: .7rem;
}

.m_col_pcon {
	margin: 10px 0;
	clear: both;
	min-height: 16px;
	display: block;
}

.m_col_pcon .t {
	color: #aaa;
	padding-right: 4px;
	float: left;
}

.m_col_pcon .c {
	color: #666;
}
/** END特殊患者详细页面样式  by zl*/

/* =============================== Mobile-by zl ============================== */
.date_b{
	padding-bottom: 0.7rem !important; 
	color: #fff !important;
}

.date_picker{
	color: #fff; background: #017bce;border:none;font-size:.85rem;
	margin-top: 0.1rem !important;
}
/** 图标大小  by zl*/
.fa{
	font-size: 1.2rem;
	margin-top: 0.1rem;
}

.echartsHeight2{
	height: 250px; 
	width: 100%;
}
.echartsHeight{
	height: 500px; 
	width: 100%;
}
.inputstyle{
color: #fff;
  background: #017bce;
  border: none;
  size: 4;
  font-size: 0.85rem;
  margin-top: 0.2rem;
}
.tbstyle {
  float: right;
  color: #fff;
  font-size: 0.85rem;
  padding: 0.2rem 0 0 2.5rem;
}
.yd{
	padding: 0.2rem 0 0 3.5rem;
}
.errorcq { 
	background:url('../../img/common/errorcq.png') center no-repeat;
	width:300px;
	height:300px;
	top:50%;
	left:50%;
	margin:-190px 0 0 -150px;
	position:absolute;
	background-size:contain;
	display:block;
}
.side{
	color:#3d4145;
	background-color:#f7f7f8;
}
.btn_s{
	background-color: #3fb470 !important;
}
.btn_c{
	background-color: #ff5e52 !important;
}
*.m_dialog_sc {
	text-shadow:none;
}
.m_dialog_sc {
	float: left;
	clear: both;
	border-bottom: 1px solid #ddd;
	padding: 0 10px 10px 16px;
	width: 100%;
	background:#fff;
}
.m_dialog_sc:last-child {
	border-bottom:none;
}
.m_dialog_sc .s{
	clear:both;
	padding:10px 0 4px 10px;
	margin-left: -16px;
}
.m_pills {
	padding: 6px 0px;
	margin: 6px 0 0 6px;
	float:left;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	cursor:pointer;
	text-decoration:none;
	font-weight:normal !important;
	background:#e1e1e1;
	color:#333 !important;
	width: 50%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.6rem;
}
.m_pills:nth-child(even) {
	margin-left: -6px;
}
/* .m_pills:hover , .m_pills:focus , .m_pills:active  {
	background: #39f;
	color: #fff !important;
} */
.click_s{
	background: #39f;
	color: #fff !important;
}
.btn_s_link{
	color: #f6383a !important;
}
.btn_c_link{
	color: #5f646e !important;
}
/* 数据加载完毕**/
.mobile_data_b {
	color:#aaa;
	font-size:0.65rem;
	margin:4px auto 10px;
	height:30px;
	line-height:33px;
	position:relative;
	text-align: center;
}
.mobile_data_b:before {
	content: "";
    background: url(../../img/common/mobile_data_cat.png) center no-repeat;
    width: 30px;
    height: 30px;
    background-size: contain;
    position: absolute;
    margin: 0 0 0 -35px;
}

.color_w{
	color:#fff !important;
}

/* =============================== Mobile-by SCQ ============================== */

body , .list-block {
	font-size: 0.75rem;
}
#mainHome , .page {
	background:#fff;
}
.page > .bar {
	height:auto;
}
.page > .bar:after {
	height:0px;
}
#mainHome > .content {
	overflow-x: hidden;
}
#mainHome > .content > #content {
	margin-right:-1px;
}
.mcq_notice > i {
	margin-right:6px;
	font-size: 0.8rem;
}
.list-block ul li .item-media i {
	color:#10aeff;
	width: 1em;
    text-align: center;
}
.list-block ul li .item-inner .item-after .num .badge {
	color:#fff;
	background:#10aeff;
	padding:0;
	width: 1.2rem;
    height: 1.2rem;
    text-align: center;
    line-height: 1.3rem;
}
.cardpage {
	background: #eee;
}
.cardpage .card {
	box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #ccc;
}
.cardpage .card-footer , .cardpage .card-content-inner {
	padding: 0 0.5rem;
}
.cardpage .card-header {
    padding: 0.4rem 0.5rem;
}
.card-infocq {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
    color: #666;
    padding: 0.1rem 0.5rem;
    font-size: 0.6rem;
}
.num_infocq .numi {
	float:left;
	margin-right: 0.6rem;
	color:#0e8314;
}
.num_infocq i {
	color: #10aeff;
	font-size: 0.8rem;
}
.panelboxcq {
	box-shadow: -2px 0px 18px #888 /* #aaa */; 
	/* background: #efeff4; */
	color:#3d4145
}
.panelboxcq > .content {
	background:#fff;
}

/* //重点关注 栅格样式 */
.focus_box >.col-25 >.row{
    padding: 30px 0 0 0;
  	text-align: center;
}
 .focus_box >.col-25 >.row>div:nth-child(1){
    color: #fff;
  background: #10aeff;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.9rem;
   margin-bottom: 15px !important;
   margin: 0 auto;
} 
 .focus_box >.col-25 >.row>div:nth-child(2){
   padding:0 5px;
  overflow: hidden;
  font-size:0.6rem;
   text-overflow: ellipsis;
  white-space: nowrap;
} 
 .focus_box >.col-25 >.row>div:nth-child(2) a{
    color: inherit;
} 
 .focus_box >.col-25 >.row>div:nth-child(1)>span:nth-child(1){
 font-size:1rem;
  color:#fff;
} 
.focus_box >.col-25 >.row>div:nth-child(1)>span:nth-child(2){
 color:#666;
} 

.focus_box >.col-25:nth-child(1) >.row>div:nth-child(1){
	background:#e6011f;
}
.focus_box >.col-25:nth-child(2) >.row>div:nth-child(1){
	background:#f61d4b;
}
.focus_box >.col-25:nth-child(3) >.row>div:nth-child(1){
	background:#884dff;
}
.focus_box >.col-25:nth-child(4) >.row>div:nth-child(1){
	background:#3ea3ff;
}
.focus_box >.col-25:nth-child(5) >.row>div:nth-child(1){
	background:#27bc9c;
}
.focus_box >.col-25:nth-child(6) >.row>div:nth-child(1){
	background:#ffb139;
}
/* //重点关注 栅格样式 */

.st{
	margin: 10px 20px 0px 20px;
}
.font_white{
	color:#fff !important;
}
.font_s{
	font-size: 0.8rem;
}
.hd{
	display:inline;
}
/* 对SUI修改的 */
.panel-overlay {
	background: #000;
    opacity: 0.2;
}
.panel {
	width: 84%;
}
.badge_blue {
	display: inline-block;
    padding: .1rem .45rem .15rem;
    font-size: .6rem;
    line-height: 1;
    color: #fff;
    background-color: #3399ff;
    border-radius: 5rem;
}
/* =============================== Mobile-by ECQ ============================== */

.shadow{
 position: absolute;
  top: 2.2rem;
  height: 100%;
  background: #000!important;
  opacity: 0.2;
  left: 0;
  z-index: 8;
  width: 100%;
}
.popS{
	z-index: 200;
  	position: absolute;
  	width: 100%;
  	margin-top: 2.2rem;
}
.fs{
	color:#FF0000 !important;
}
.fh{
	display:none !important;
}
.imgs{
	height: 0.8rem;
 	 width: 0.8rem;
}
.ml{
	margin-left:5px;
}
