/*样本展示*/

body {
	font-size: 14px;
}
.inStorage{
	color: #33425B !important;
}
.chosedtemShelf{
	background-color:#8AACFF;
}
.alert-info{
	width: 80%;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	display: none;
	z-index: 101;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -40%;
}
.fa-minus,
.fa-times {
	color: #000;
}


/*冰箱*/

.icebox {
	padding: 0 !important;
	background-color: #E1E3E9;
}

.parentWrap {
	padding: 0px;
	text-align: center;
}

.parentWrap li {
	list-style: none;
}

.menuGroup {
	font-family: "Microsoft YaHei";
	border: 1px solid #626FE6;
	background-color: #8AACFF;
	color: white;
	border-radius: 10px;
}

.menuGroup .fa {
	color: #8AACFF;
}

.menuGroup .sidebar-menu {
	padding-left: 20px;
}

.groupTitle {
	display: block;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

.menuGroup>section {
	background-color: #fff;
	display: none;
}

.menuGroup>section .sidebar-menu>li>a {
	padding: 3px;
}

.menuGroup>section .treeview-menu>li>a {
	padding: 2px;
}

.menuGroup a {
	color: #000000 !important;
}

.sidebar-menu {
	text-align: left;
}

.menuGroup>section .sidebar-menu .treeview-menu {
	padding-left: 20px;
}
/*待存样本*/
/*坐标跟随mask*/
#mask{
	width: 25px;
	height: 25px;
	border: 1px dashed brown;
	background-color: #00A65A;
	color: white;
	text-align: center;
	line-height: 25px;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}
.myhover{
	box-shadow: 0 0 3px #007BB6;
}
/*#staySaveTem th{
	font-size: 12px;
	word-break: keep-all;
}
#staySaveTem td{
	font-size: 12px !important;
	word-break: keep-all;
}*/
.table-responsive th,
.table-responsive td {
	font-size: 12px !important;
	white-space: nowrap;
}
#bloodTable th{
	font-size: 12px !important;
	word-break: keep-all;
}
#bloodTable td{
	font-size: 12px !important;
	word-break: keep-all;
}

#staySaveTem_length .input-xsmall{
	padding:1px 1px;
	height:20px;
}
#bloodTable_length .input-xsmall{
	padding:1px 1px;
	height:20px;
}
#staySaveTem_wrapper .row .col-sm-5 {
	display:none;
}
#staySaveTem_wrapper .row .col-sm-7 {
	width:100%;
}
#staySaveTem_wrapper .row .col-sm-7 div.dataTables_paginate{
	text-align:left;
}
#staySaveTem_wrapper .row .pagination>li>a {
	padding:0 3px;
}
#staySaveTembody{
	max-height: 490px;
	overflow: auto;
}
/*样本展示*/

.chuwei {
	position: relative;
}
.fa-refresh{
	margin-left: 20px !important;
}
.chuBox {
	position: relative !important;
	top: 0;
	left: 0;
	display: none;
}

#temShelf #tr0 {
	text-align: center;
}

#temShelf tr td {
	text-align: center;
}

#temShelf tr td div {
	width: 30px;
	height: 25px;
	border-radius: 10%;
	border: 1px solid gainsboro;
	margin: 5px auto;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	font-size: 24px;
}

#temShelf tr td div:hover {
	box-shadow: 0 0 3px #007BB6;
}

#temShelf #tr0 {
	text-align: center;
}

#temBox tr td {
	text-align: center;
}

#temBox tr td div {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid gainsboro;
	margin: 5px auto;
	text-align: center;
	line-height: 20px;
	color: deepskyblue;
	cursor: pointer;
}

#temBox div span{
	min-height: 10px;
	min-width: 10px;
}
#temBox tr td div .iconfont{
	font-size: 18px;
}


/*样本信息*/
#temIcon {
	float: left;
	width: 50px;
	height: 50px;
	background-color: #fff;
	line-height: 50px !important;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
	color: blue;
	
}
#temIcon .fa{
	margin-top: 10px;
}

#temInfo {	
	font-size: 12px;
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4;
}
#temInfo .table{
	font-size: 12px;
}
#temInfo>div{
	border:1px solid blue;
}

.temInfoHead {
	cursor: move;
}
.temInfoTitle{
	padding-left: 30px;
}

.temInfoSub {
	padding-left: 58px;
    margin-top: 10px;
}

#temInfo .table>tbody>tr>td {
	padding: 4px;
}

.temInfo label {
	font-weight: 500;
}

.temInfo input {
	padding-left: 10px;
	margin-left: 8px;
	border: none;
}
.temInfoBtn{
	padding-left: 4px;
}
.temInfoBtn button{
	margin: 0 12px;
}
/*下一步流向弹出框*/
.nextStor {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 100;
	font-size: 12px;
}
.nextStor table thead tr th {
	font-size: 12px;
	word-break: keep-all;
}	
.nextStor table tbody tr td {
	font-size: 12px;
	word-break: keep-all;
}	
#nextStorBody{
	max-height: 200px;
	overflow: auto;
}
.nextStor .mask {
	width: 60%;
	margin: 100px auto;
}
.nextStor .dropdown{
	display: inline-block;
}

/*查询库内位置弹出框*/
/*下一步流向弹出框*/
.searchPositionBlock {
	width: 50%;
	display: none;
	position: fixed;
	left: 50%;
	top: 100px;
	margin-left: -25%;
	z-index: 100;
	font-size: 12px;
}
.searchPositionBlock table thead tr th {
	font-size: 12px;
	word-break: keep-all;
}	
.searchPositionBlock table tbody tr td {
	font-size: 12px;
	word-break: keep-all;
}	
#searchPositionBody{
	max-height: 200px;
	overflow: auto;
}

#staySaveTem_wrapper .tablebtns{
	display: none;
}
#bloodTable_wrapper .tablebtns{
	display: none;
}
#nextStorBody .notetd{
	padding: 0px !important;
}
.out{
	border: 1px solid blue !important;
}
.move{
	border: 1px solid red !important;
}
.iceChosed{
	border: 1px solid #22559C !important;
}
