@charset "UTF-8";

.autocomplete-container {
	position: relative;
	width: 283px;
	height: 32px;
	margin: 0 auto
}

.autocomplete-input {
	padding: 9px;
	border-radius: 3px;
	font-family: inherit;
	float: left;
	font-size: 1em;
	border: 1px solid rgba(0, 0, 0, .19);
	margin: 0
}

.autocomplete-button {
	font-family: inherit;
	border: 0;
	background-color: #990101;
	color: #fff;
	padding: 8px;
	float: left;
	cursor: pointer;
	border-radius: 0 3px 3px 0;
	transition: all .2s ease-out 0s;
	margin: .5px 0 0 -1px
}

.autocomplete-button:hover {
	background-color: #d11e1e
}

.proposal-box {
	position: absolute;
	height: auto;
	border-left: 1px solid rgba(0, 0, 0, .11);
	border-right: 1px solid rgba(0, 0, 0, .11);
	left: 0
}

.proposal-list {
	list-style: none;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .44);
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0
}

.proposal-list li {
	text-align: left;
	padding: 5px;
	font-family: inherit;
	border-bottom: 1px solid rgba(0, 0, 0, .16);
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	cursor: pointer
}

li.proposal.selected {
	background-color: rgba(175, 42, 0, .52);
	color: #fff
}