body {
	width: 100%;
	height: 100%;
	background: url(../img/1.jpg);
	background-size: cover;
}


.psd {
	margin-top: 30px;
}

.login-logo {
	perspective: 200px;
	margin-bottom: -60px;
	
}
body:hover .login-logo {
	transform: rotateX(360deg) scale(0.8);
	transition: all 2s;
}

.login-box {
	transition: all 1s;
	box-sizing: border-box;
}

.login-box:hover {
	border: 2px solid #0088CC;
	box-shadow: 15px 15px 15px #000;
}

.login-box:hover .login-logo {}


/*登录提示*/

.mask {
	width: 400px;
	height: 40px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -200px;
	font-size: 24px;
	text-align: center;
	background-color: #2BB3C0;
	color: wheat;
	display: none;
	z-index:1000;
}
.footer{width:100%;text-align:center;font:12px/44px Microsoft yahei;color:darkblue; position:absolute; left:0;  bottom:0;}