.layui-layer-content{
				padding: 0 20px;
			}

.layer1 {
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 10010;
}

.layer1 .mask {
	background-color: beige;
	width: 300px;
	margin: 100px auto;
}

.mask1 {
	width: 500px;
	height: 40px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -200px;
	font-size: 24px;
	text-align: center;
	background-color: #3532A7;
	color: wheat;
	display: none;
}

.fa-tv:hover {
	color: #00A157;
	transform: scale(1.2);
}


/*异常闪烁提醒*/

.flicker {
	color: red !important;
	animation: flash .8s linear infinite;
}

@keyframes flash {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#sidebarsection::-webkit-scrollbar {
	display: none;
}
.tabChosed{
	color: #0e0e0e !important;
    font-weight: 600;
}