/**
 * //核算提取样式
 */
#content2,#content3,#content4{
	display: none;
}

#mask{
	width: 15px;
	height: 15px;
	border: 1px dashed brown;
	background-color: #00A65A;
	color: white;
	text-align: center;
	line-height: 15px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

#mask2{
	width: 15px;
	height: 15px;
	border: 1px dashed brown;
	background-color: #00A65A;
	color: white;
	text-align: center;
	line-height: 15px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

#sample-body tr{
	cursor: pointer;
}
.sample-body tr{
	cursor: pointer;
}
#sop-body li{
	height: 50px;
	line-height: 40px;
	margin-top: 50px;
	font-size: 24px;
}
#sop-body li:hover{
	background-color: #3d6e53;
	cursor: pointer;
}


#grid tr td:not([id="td0"]) div{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid gainsboro;
}
#grid tr td:not([id="td0"]) div:hover{
	box-shadow: 0 0 3px #007BB6;
}

.myhover{
	box-shadow: 0 0 3px #007BB6;
}

.reagent{
	display: none;
}


#table-self thead tr th{
	white-space:nowrap !important;
	width: 100px !important;
}
