/**
 * //核算提取样式
 */
#content1{
	margin-left: 0px;
}
#content2,#content3,#content4{
	display: none;
	margin-left: 0px;
}
/*坐标跟随mask*/
#mask{
	width: 15px;
	height: 15px;
	border: 1px dashed brown;
	background-color: #00A65A;
	color: white;
	text-align: center;
	line-height: 15px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

#mask2{
	width: 15px;
	height: 15px;
	border: 1px dashed brown;
	background-color: #00A65A;
	color: white;
	text-align: center;
	line-height: 15px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
}

#sample-body tr{
	cursor: pointer;
}
.sample-body tr{
	cursor: pointer;
}
#grid-body tr{
	cursor: pointer;
}
/*96孔板*/
#grid tr td:not([id="td0"]) div{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid gainsboro;
}
#grid tr td:not([id="td0"]) div:hover{
	box-shadow: 0 0 3px #007BB6;
}
#result-body input{
	border: none;
}
#save-result input{
	border: none;
 min-width: 10px;
}
.myhover{
	box-shadow: 0 0 3px #007BB6;
}
/*试剂明细*/
.step-head{
	padding-left: 30px;
}
.step-head div {
	display: inline-block;
	background-color:#4FC1E9;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	border-radius:50%;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
}
.step-head div img{
	display: none;
	width: 0;
	position: absolute;
	left: 88px;
    top: 9px;
}
.step-head div:hover{
	box-shadow: 0 0 7px #000;	
}
.step-body{
	width: 94%;
	border: 2px solid #CCA8E9;
	position: relative;	
	background-color: white;
}

.step-body h4{
	text-align: center;
}
.step-body table{
	margin-bottom: 0 !important;
}
.step-body td{
	padding-bottom: 0 !important;
}
.steptable div{
    width: 88%;
    position: relative;
    top: -19px;
    left: 87px;
}
label{
	font-weight: 500;
}
.step-body input{
	border: none;
	width: 100px;
}
.step-body .checkRet,.step-body .checkIns {
	width: 13px;
}
.remRet,.remIst{
	padding-left: 8px;
	padding-right: 8px;
	
}
.remRet:hover{
	cursor: pointer;
	color: red;
	transform: scale(1.3);
}
#tem {
padding-left: 42px;
}

.remIst:hover{
	cursor: pointer;
	color: red;
	transform: scale(1.3);
}
.fengexian {
	border: 1px solid #E1E3E9;
	 width: 95%;
	 margin: 10px auto;
}
