/*
 *
 * Bio-LIMS Software 
 *
 * (C) COPYRIGHT Bio-LIMS, Inc. 
 *
 *
 */
.bold {
	font-weight: bold;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.controlTitle {
	vertical-align: middle;
	text-align: right;
}

.label {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	align: right;
	valign: top;
}

.labelRelative {
	position: relative;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	align: right;
	valign: top;
}

.labelspacer {
	font-size: 5px;
}

.controlwrappedlabelleft {
	font-weight: normal;
	font-size: 12px;
	position: relative;
	top: -2px;
	align: right;
}

.controlwrappedlabelright {
	font-weight: normal;
	font-size: 12px;
	position: relative;
	top: -2px;
	align: left;
}

.control {
	padding: 0px;
	background-color: transparent;
	padding-top: 1px;
}

.redFont {
	color: #ff0000;
}

.boldFont {
	font-weight: bold;
}

.pagecontainer {
	margin: 10px;
}

input {
	padding-left: 5px;
	padding-right: 2px;
	border: 1px solid #B5B8C8;
	cursor: ibeam;
	height: 21px;
	vertical-align: middle;
	padding-left: 2px;
	font-size: 12px;
	background-repeat: repeat-x;
	padding-bottom: 0;
	padding-top: 2px;
}

input:focus {
	border-color: #7EADD9;
}
input[type="button"]{
	background-color: #00c0ef;
	border:1px solid transparent;
    border-color: #00acd6;
    color: #fff;   
}
input[type="button"]:hover{
	background-color:#00acd6 ;
}
td {
	margin: 0px;
	vertical-align: middle;
}

textarea {
	padding-left: 5px;
	padding-right: 2px;
	border: 1px solid #7B91A5;
	cursor: ibeam;
	vertical-align: middle;
	padding-left: 2px;
	font-size: 12px;
	margin-right: 10px;
}

.logtd {
	font-face: verdana;
	font-size: 10px;
	border-bottom: 1px solid #999999;
}

.commFrame {
	width: 345;
	height: 288;
	border-top: 1px solid #000000;
}

.topPadded {
	margin-top: 10px;
}

/**  body .x-panel {
           margin-bottom:20px;
        }
    
    **/
.icon-grid {
	background-image: url(../images/list.png) !important;
}
/** #button-grid .x-panel-body {
            border:1px solid #99bbe8;
            border-top:0 none;
        }**/
.add {
	background-image: url(../images/new.png) !important;
}

.option {
	background-image: url(../images/plugin.gif) !important;
}

.remove {
	background-image: url(../images/delete.png) !important;
}

.save {
	background-image: url(../images/save.png) !important;
}

.refresh {
	background-image: url(../images/table_refresh.png)
		!important;
}

.application_form {
	background-image: url(../images/list.png)
		!important;
}

.application_form_edit {
	background-image: url(../images/edit.png)
		!important;
}

.application_search {
	background-image: url(../images/search.png)
		!important;
}

.application_setting {
	background-image: url(../images/setting.png)
		!important;
}
.application_oper {
	background-image: url(../images/cog.png)
		!important;
}
.application_table {
	background-image: url(../images/list.png)
		!important;
}

.application_start {
	background-image: url(../images/machstart.png)
		!important;
}

.application_end {
	background-image: url(../images/machstop.png)
		!important;
}
.application_print {
	background-image: url(../images/print.png)
		!important;
}
.application_taskadd {
	background-image: url(../images/add.png)
		!important;
}


body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	border: 0px solid #000000;
	font-size: 12px;
}

.appstack_container {
	width: 100%;
	height: 18px;
	border-top: 1px solid #9BB3CB;
	border-bottom: 1px solid #9BB3CB;
	background-color: #F2F5F8;
	font-type: Arial;
	font-size: 12px;
	color: #333333;
}

.applink {
	
}

.applink_image {
	padding-left: 5px;
}

.applink_title {
	padding-left: 2px;
}

.hyperlink {
	cursor: pointer;
	font-size: 8pt;
}

.hyperlinkaccesskey {
	cursor: pointer;
	font-size: 8pt;
	ACCELERATOR: true;
}

.hyperlinkaccesskeyoff {
	cursor: pointer;
	font-size: 8pt;
	ACCELERATOR: false;
}

.powerwhite {
	color: #ffffff;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
	display: inline;
}

.quicksearch_control {
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
}

.quicksearch_findimage {
	border: 1px 1px 1px 0px solid #445E75;
	margin-right: 10px;
	cursor: pointer;
	hidefocus: true filter:        progid:DXImageTransform.Microsoft.BasicImage(opacity=.1
		);
}

.quicksearch_findimagehighlight {
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=1 );
}

.section {
	width: 100%;
	padding-bottom: 1px;
	border: 0px dashed black;
}

.standard_section {
	background-color: transparent;
}

.table_section {
	background-color: #E8E3D9;
}

.marginsection {
	
}

.section_header {
	height: 16px;
	padding-left: 4px;
	padding-top: 2px;
	margin-bottom: 3px;
	cursor: default;
	border-bottom: 1px solid #999999;
	margin-right: 1px;
}

.standard_section_header {
	background-color: #9BB3CB;
}

.table_section_header {
	background-color: #D4CDBE;
}

.section_header_left {
	text-align: left;
}

.section_header_right {
	text-align: right;
	padding-top: 2px;
}

.section_header_image {
	
}

.section_header_img_min {
	cursor: pointer;
}

.section_header_img_max {
	cursor: pointer;
}

.section_header_img_close {
	cursor: pointer;
}

.detail {
	cursor: pointer;
}

.section_label {
	cursor: pointer;
	font-weight: normal;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.standard_section_label {
	color: #ffffff;
}

.table_section_label {
	text-align: center;
	color: #003366;
}

.section_content {
	
}

.section_content_border {
	border: 0px solid #336699;
	border-top: 0px;
}

.sectionlabel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-left: 0px;
	font-style: normal;
	font-weight: bold;
	color: #878B8E;
}

.sectionheaderlabel {
	font-size: 12px;
	padding-left: 3px;
	font-weight: bold;
	color: #003366;
}

.section_border {
	border: 1px solid #336699;
	border-right: 0px;
	border-left: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin-bottom: 3px;
	width: 100%;
}

.section_table {
	border-spacing :2px;
}

.section_table_selected {
	border: 1px dashed #dddddd;
	background-color: #eeeeee;
}

.section_footer {
	
}

;
.section_description {
	margin-top: 7px;
	margin-bottom: 9px;
	margin-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	color: #878787;
}

.section_designmode {
	border: 1px dashed #000099;
	padding: 5px;
	width: 100%;
	height: 100%;
}

.section_acceptdrop {
	background-color: #dddddd;
}

.section_acceptdrop_top {
	border-top: 2px solid blue;
}

.section_acceptdrop_bottom {
	border-bottom: 2px solid blue;
}

.sectioncol {
	vertical-align: top;
}

.sectioncol_highlight {
	vertical-align: top;
}

.sectioncol_border {
	border: 1px solid #999999;
}

.sectioncol_designmode {
	border: 1px dashed #0099FF;
	padding: 5px;
}

.sectioncol_acceptdrop {
	background-color: #dddddd;
}

.sectioncol_acceptdrop_left {
	border-left: 2px solid blue;
}

.sectioncol_acceptdrop_right {
	border-right: 2px solid blue;
}

.sectionheader {
	
}

.sectionheader_designmode {
	border: 1px dashed #999999; background-color #eeeeee;
	height: 8px;
	font-size: xx-small;
	margin-left: 5px;
	text-align: left;
}

.sectionrow {
	vertical-align: top;
}

.sectionrow_designmode {
	border: 1px dashed black;
	padding: 5px;
}

table.bgnavbar {
	background-color: #305F90;
	color: #C9E3F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	background-image: url(../images/bg_navbar.gif);
	background-repeat: no-repeat;
	background-position: 40 top;
	vertical-align: top;
}

table.applinknavbar {
	background-color: #616161;
	color: #C9E3F2;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	background-image: url(../images/bg_navbar_applink.gif);
	background-repeat: no-repeat;
	background-position: 40 top;
	vertical-align: top;
}

.navbar {
	color: #FFFFFF;
	line-height: 27px;
	vertical-align: top;
	padding-top: 0px;
	padding-right: 30x;
	padding-bottom: 0px;
	padding-left: 30x;
}

td.hdrtoolbar {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #333333;
	vertical-align: middle
}

.toolbar {
	width: 100%;
	cursor: default;
	border-top: 0px solid #FFFFFF;
	border-bottom: 0px solid #7F878F;
	background-color: #F0F0F8;

}

.dynamictoolbarlabel {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	font-size: 7pt;
}

.toolbarspace {
	background-color: transparent;
	border-width: 0px;
	height: 90%;
	width: 5px;
}

.toolbarsection {
	border: 0px inset;
}

.toolbaractiongroupsep {
	width: 2px;
}

.toolbarbutton {
	border: 0px solid transparent;
	width: 65px;
	valign: baseline;
	padding: 3px;
	padding-left: 2px;
	padding-right: 5px;
	color: #4C4C4C;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=0,
		opacity=1 );
}

.toolbarbuttonanchor {
	width: 100%
}

.toolbarbuttonimage {
	margin-top: 0px;
	vertical-align: middle;
	border: 0px;
	cursor: pointer;
}

.toolbarbuttondisabled {
	filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1, xray=0,
		mirror=0, invert=0, opacity=.3, rotation=0 );
}

.toolbarbuttonhidden {
	display: none;
}

.toolbarbuttondown {
	border: 2px inset;
	padding-top: 1px;
	padding-right: 2px;
	padding-left: 2px;
}

.toolbarbuttonstuckdown {
	border-top: 0px solid #000000;
	border-left: 0px solid #000000;
	border-bottom: 0px solid #FFFFFF;
	border-right: 0px solid #FFFFFF;
	border-width: 1px;
}

.toolbarbuttonup {
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 0px solid #000000;
	border-right: 0px solid #000000;
	border-width: 0px;
	cursor: pointer;
}

.toolbarbuttonhighlight {
	cursor: pointer;
	color: green;
	filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=1 );
	border: 1px solid #999999;
	background-color: #FFE9CE;
	padding-top: 1px;
	padding-right: 4px;
	padding-left: 1px;
	padding-bottom: 1px;
}

.pushbutton {
	padding: 6px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 5px;
	margin-left: 5px;
	color: #4C4C4C;
	position: relative;
	cursor: pointer;
}

.pushbutton_default {
	font-weight: bold;
}

.pushbuttondisabled {
	
}

.pushbuttonmain {
	margin: 0px;
	padding: 0px;
}

.pushbuttonovertext {
	color: #cc6600;
}

.pushbuttonhighlight {
	
}

.pushbuttonimage {
	margin-top: 1px;
	margin-left: 5px;
	margin-right: 1px;
	vertical-align: middle;
	border: 0px;
}

.pushbuttondown {
	position: relative;
	top: 1px;
	left: 1px;
}

.pushbuttonleft {
	background-image: url(../images/buttonleft.gif);
	padding-left: 8px;
	height: 20px;
}

.pushbuttonmiddle {
	font-face: arial;
	margin-top: 12px;
	font-size: 11px;
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 3px;
	height: 20px;
}

.pushbuttonmiddleback {
	font-face: arial;
	margin-top: 12px;
	padding-bottom: 0px;
	font-size: 11px;
	vertical-align: middle;
	padding-left: 3px;
	padding-right: 3px;
	height: 20px;
	background-image: url(../images/buttonmiddle.gif);
}

.pushbuttonright {
	background-image: url(../images/buttonright.gif);
	padding-right: 9px;
	height: 20px;
}

.tablebutton {
	
}

.tablebuttonleft {
	background-image: url(../images/buttonleft.gif);
	padding: 0px;
	padding-left: 5px;
}

.tablebuttonmiddle {
	vertical-align: middle;
	padding-left: 15px;
	padding-right: 15px;
	height: 20px;
	font-size: 13px;
	font-weight: bold;
}

.tablebuttonmiddleback {
	background-image: url(../images/buttonmiddle.gif);
}

.tablebuttonright {
	background-image: url(../images/buttonright.gif);
	padding: 0px;
	padding-right: 5px;
}

.toolbar_combobox_control {
	margin-right: 10px;
	vertical-align: middle;
}

.toolbar_combobox_field {
	cursor: pointer;
}

.toolbar_combobox_field_readonly {
	font-type: Arial;
	font-size: 12px;
	color: #333333;
	cursor: pointer;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	border: 1px solid #F2F5F8;
	padding-left: 1px;
}

.toolbar_combobox_field_image {
	vertical-align: middle;
	align: center;
	border-left: 1px solid #F2F5F8;
	border-right: 1px solid #F2F5F8;
	padding-left: 1px;
}

.highlighted {
	background-color: #ffffff;
	border: 1px solid #9BB3CB;
}

.focused {
	background-color: #ffffff;
	border-left: 1px solid #9BB3CB;
}

.mainclass {
	margin: 0 0 0 0;
	height: 100%;
	OVERFLOW-X: auto;
	OVERFLOW: auto;
}
.mainclass2 {
	margin: 0 0 0 0;
	height: 95%;
	OVERFLOW-X: auto;
	OVERFLOW: auto;
}
.mainlistclass {
	margin: 0 0 0 0;
	height: 95%;
	OVERFLOW-X: auto;
	OVERFLOW: auto;
}
.mainfullclass {
	margin: 0 0 0 0;
	height: 100%;
	width: 100%;
	OVERFLOW-X: auto;
	OVERFLOW: scroll;
}

.requiredcolumn {
	width: 10px;
	vertical-align: top;
}

.requiredimage {
	position: relative;
	width: 10px;
	height: 15px;
	margin-right: 1px;
	margin-left: 1px;
}

.focus {
	background: #F5EFD5;
}

.readonlytrue {
	background-color: #DEDEDE;
	color: #0A0270;
	background-image: none;
}

.readonlyfalse {
	background-color: #FFFFFF;
	color: #000000;
	background-image: url('../images/text-bg.gif');
}

.txtappname {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	position: relative;
}

.userMessage {
	color: #DFB4A2;
}

.table {
	border: 1px solid #000000;
	border-collapse: collapse;
	width:100%;
}

.td {
	border: 1px solid #000000;
	padding: 0;
	width:80px;
	min-width:80px;
	height:40px;
	text-align: center;
}

a:link {
	text-decoration: none;
	color: blue
}

　 a:active {
	text-decoration: blink
}

a:hover {
	text-decoration: underline;
	color: red
}

a:visited {
	text-decoration: none;
	color: green
}

/*产前检测3d容器*/
/*白色*/
.circle-bkcolor-white {
	background: white;
}
/*黑色*/
.circle-bkcolor-black {
	background: #000000;
}
/*蓝色*/
.circle-bkcolor-blue {
	background: #548dd4;
}
/*灰色*/
.circle-bkcolor-gray {
	background: #7f7f7f;
}

/*绿色*/
.circle-bkcolor-green {
	background: #76923c;
}
/*橙色*/
.circle-bkcolor-orange {
	background: #e36c09;
}
/*红色*/
.circle-bkcolor-red {
	background: #ff0000;
}
