body {
	margin: 0;
	padding: 0;
}

form {
	margin: 0 0 5px;
	padding: 0;
}

.frame-table {
	width: 100% 
}

.main-content {
	width: 99.5%;
	height: 100%;
	overflow: auto;
}

.input-10-length {
	width: 78px;
}

.input-40-length {
	width: 228px;
}

.standard-section-header {
	background-color: #9BB3CB;
	margin: 0 0 2px;
	padding: 0 0 0 5px;
	height: 18px;
	vertical-align: middle;
}

.sty-table {
	width: 100%;
}

.label-title {
	white-space: nowrap;
	text-align: right;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
}

.type-title {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.readonlytrue {
	background-color: #DEDEDE;
}

.td-nowrap {
	white-space: nowrap;
}

.search-btn {
	background-image: url("../images/quicksearch.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}
.select-search-btn {
	background-image: url("../images/img_lookup.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.attach-btn {
	background-image: url("../images/img_attach.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.select-btn {
	background-image: url("../images/img_menu.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.scan-link-btn {
	background-image: url("../images/menu_icon_link.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.search-dialog{
	padding: 1px;
	margin: 0px;
	font-size: 12px;
	vertical-align: middle;
}

.jquery-ui-warning{
	margin:3px;
	line-height:30px;
	min-height: 30px;
	padding-left: 5px;
}
