.sidebar.ui-state-default.first {
	border: none;
}

.ui-sortable-placeholder {
	border: 2px dashed;
	visibility: visible !important;
	height: 150px !important;
}
#dashboard-container{
	overflow: auto;
}
.ui-sortable-placeholder * {
	visibility: hidden;
}

#dashboard-widgets-header {
	padding: 5px 5px 0;
	text-align: right;
}

#dashboard-widgets-header button {
	margin-left: 10px;
}

#dashboard-sidbar,#dashboard-widgets {
	overflow: auto;
}

#dashboard-widgets .col {
	float: left;
	padding-bottom: 1px;
}

#dashboard-widgets .col.col-25 {
	width: 25%;
}

#dashboard-widgets .col.col-33 {
	width: 33.3%;
}

#dashboard-widgets .col.col-50 {
	width: 49.9%;
}

#dashboard-widgets .col.col-75 {
	width: 74.7%;
}

#dashboard-widgets .col .widget {
	padding: 5px;
}

#dashboard-widgets .col .widget.dummy {
	display: block;
	height: 150px;
	visibility: hidden;
}

#dashboard-widgets .widget-header.ui-widget-header {
	border-bottom: none;
	position: relative;
	height:30px;
}

#dashboard-widgets .widget-header.ui-widget-header .title {
	display: block;
	padding: 6px;
}

#dashboard-widgets .widget-header.ui-widget-header a {
	position: absolute;
	top: 6px;
}

#dashboard-widgets .widget-header.ui-widget-header a.setting {
	right: 28px;
}

#dashboard-widgets .widget-header.ui-widget-header a.close {
	right: 6px;
}


#dashboard-widgets .widget-content.ui-widget-content {
	border-top: none;
	padding: 5px;
}

#dashboard-widgets .widget-content select {
	width: 100%;
}

#dashboard-widgets .widget-content .nodata {
	line-height: 100px;
	text-align: center;
	color: red;
}

.close {
	opacity: 1;
}

.close:hover {
	opacity: 1;
}