/*
 *
 * Bio-LIMS Software Confidential
 *
 * (C) COPYRIGHT Bio-LIMS Software, Inc.
 *

 *
 */


body
{ 
font-size: 12px;
} 
 


a:link {color: #BC4D58; text-decoration: none}
a:visited {color: #BC4D58; text-decoration: none}
a:hover {color: #BC4D58; text-decoration: underline}
a:active {color: #BC4D58; text-decoration: underline}

td { cursor:default;
	}
a.txtbtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	text-align: middle;
	}
a.txtbtn:visited {color: #000000}
a.txtbtn:hover {color: #CC6600;
				text-decoration: none;
			}
a.txtbtn:active {color: #CC6600}


.bgpage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: left 65px;
}
.welcometo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #7392AF;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 1;
	width: 300px;
	left: 42px;
	top: 82px;
}
.mainbgtable {
	text-align: right;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 2;
	left: 0px;
	top: 230px;
	width: 825px;
	padding: 2px;
}
.inputheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	color: #063D71;
	text-align: right;
	padding: 2px;
	}
.forgotpassword {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
}
.newuserheader {
	text-align: right;
	color: #063D71;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	height: 35px;
}
.languageheader {
	font-weight: bold;
	color: #063D71;
	text-align: left;
	height: 18px;
}
.languagelist {
	text-align: left;
	height: 125px;
	vertical-align: top;
	left: 545px;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 5;
	top: 105px;
}
.languagetext{ 	font-family: Arial, Helvetica, sans-serif;
				font-size: 11px;
				font-style: normal;
			}
.inputfield {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
}
.companylogo {
	text-align: right;
	overflow: visible;
	position: absolute;
	visibility: visible;
	z-index: 3;
	left: 700px;
	top: 105px;
	width: 125px;
	height: 125px;
	vertical-align: top;
}

.loginwait{	position:absolute;
			left:0;
			top:0;
			cursor:wait;
			display:block;
			filter:alpha( opacity=15 );
			}
			
.languagetable{ 
				margin-top:0px;
			}
			
.languagecolumn{ vertical-align:top;
				 padding-right:10px
			}
			
.selectedlang{ 	cursor: default;
				color:#063D71;
			}
