body {
	margin: 0;
	padding: 0;
}

form {
	margin: 0 0 5px;
	padding: 0;
}

.frame-table {
	width: 100% 
}

.frame-iefull-table {
	width: 100%
}

.main-content {
	width: 99.5%;
	height: 100%;
}

.left {
	float: left;
	width: 30%;
	margin: 0 5px 0 0;
	overflow: auto;
	min-height: expression(window.document.body.offsetHeight-30);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-30);
	height: 100%
}

.lefttab {
	float: left;
	width: 29%;
	margin: 0 5px 0 0;
	overflow: auto;
	min-height: expression(window.document.body.offsetHeight-45);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-45);
	height: 95%
}

.right {
	width: 69.6%; /*Firefox*/
	float:left;
	display:block;
	overflow: auto;
	min-height: expression(window.document.body.offsetHeight-30);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-30);
	height: 95%
}

.righttab {
	width: 69.6%; 
	float: left;
	display:block;
	overflow: auto;
	overflow-x:hidden;
	min-height: expression(window.document.body.offsetHeight-59);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-59);
	height: 95%
}

.input-10-length {
	width: 78px;
}

.input-40-length {
	width: 228px;
}

.standard-section-header {
	background-color: #9BB3CB;
	margin: 0 0 2px;
	padding: 0 0 0 5px;
	height: 18px;
	vertical-align: middle;
}

.sty-table {
	width: 100%;
}

.label-title {
	white-space: nowrap;
	text-align: right;
	vertical-align: middle;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 10px;
}

.type-title {
	color: #FFFFFF;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.readonlytrue {
	background-color: #DEDEDE;
}

.td-nowrap {
	white-space: nowrap;
}

.search-btn {
	background-image: url("/images/quicksearch.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}
.select-search-btn {
	background-image: url("/images/img_lookup.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.attach-btn {
	background-image: url("/images/img_attach.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.select-btn {
	background-image: url("/images/img_menu.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

.scan-link-btn {
	background-image: url("/images/menu_icon_link.gif");
	height: 18px;
	width: 13px;
	display: inline-block;
	cursor: pointer;
}

 .search-dialog{
	padding: 1px;
	margin: 0px;
	font-size: 12px;
	vertical-align: middle;
}

.jquery-ui-warning{
	margin:3px;
	line-height:30px;
	min-height: 30px;
	padding-left: 5px;
}
.lefttab40 {
	float: left;
	width: 40%;
	margin: 0 5px 0 0;
	overflow: auto;
	min-height: expression(window.document.body.offsetHeight-45);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-45);
	height: 95%
}


.righttab60 {
	width: 59%; 
	float: left;
	display:block;
	overflow: auto;
	overflow-x:hidden;
	min-height: expression(window.document.body.offsetHeight-59);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-59);
	height: 95%
}
.lefttab0 {
	
	display:none;
	
}


.righttab100 {
	width: 100%; 
	float: left;
	display:block;
	overflow: auto;
	overflow-x:hidden;
	min-height: expression(window.document.body.offsetHeight-59);
	height: auto; ! important;
	height: expression(window.document.body.offsetHeight-59);
	height: 95%
}
